2\


body {
	font-family: arial; 
}	

header  {
	background: #1600;
	color: white;
	padding: 60px 0 0 0;
}
header h1 {
	margin-left: 5%;
	margin-right: 5%;
	font-size: 160%;
	display: inline;
	color: #999;
	padding: 0 0 0 0;
}

nav ul {
	margin: 0;
	display: inline;
}

nav ul li {
	background: lightblue;
	color: white;
	display: inline-block;
	list-style-type: none;
	padding: 15px 100px 15px 100px;
}

nav ul li a {
	font-size: 130%;
	color: black;
}

/*.row:after {
	clear: both;
	float: left;
}*/

.noUnderline {
	text-decoration: none;
}

.col {
	background: white;
	border-radius: 10px;
	padding: 0 0 2% 25%;
	list-style-type: none;
	color: black;
	font-size: 130%;
	float: left;
	margin: 1%;
	width: 50%;
}

.column {
	display:inline-block;

}

.DucklerEscape {
	background: lightgreen;
	border-radius: 10px;
	padding: 1% 0 2% 0;
	list-style-type: none;
	color: black;
	font-size: 130%;
	float: left;
	margin: 1%;
	width: 70%;
}

.sameBlock {
	list-style-type: none;
}

.container {
  display: flex;
  justify-content: center;
}

.center {
  width: 800px;
  float: center;
}

.redText {
	color: red;
}
.middleText {
	clear: both;
	color: #1999;
	padding-left: 43%;
	top: 20%;
}

.middleText2 {
	clear: both;
	color: #888;
	padding-left: 42%;
	top: 30%;
}

.audioPlayer {
	background: lightblue;
	display: block;
}

.foot {
	padding-left: 38%;
	clear: both;
	margin-top: 5%;
}

br {
	
}
footer {
	clear: both;
/*	padding-left: 10%;*/
	margin-left: 3%;
}



